* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans";
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socMedia__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 1024px;
  background-color: #ffffff;
}

.social__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 23px;
  padding-bottom: 23px;

  font-family: "Futura Std";
  font-size: 16px;
  font-weight: 500;
  line-height: 21.25px;
  letter-spacing: 0em;
  color: #1f50ff;
}

.line {
  width: 254px;

  border-bottom: 1px solid #ebebeb;
}

.user__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  gap: 19px;
  width: 100%;
  padding: 20.5px 36px 15px 17px;
}

.user {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 18px;
}
.user-avatar {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  border: 7px solid #f2f2f2;
}
.user__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  letter-spacing: 0em;
  color: #000000;
}

.user__bio {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.08px;
  letter-spacing: 0em;
  color: #1f50ff;
}

.user__community {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 33px 52px 28px 43px;
}

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.num {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.77px;
  letter-spacing: 0em;
  color: #303030;
}

.title {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.08px;
  letter-spacing: 0em;
  color: #303030;
}

.user__active {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px 135px 55px 33px;
  gap: 21px;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.fa {
  width: 24px;
  height: 24px;
}

.active-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  letter-spacing: 0em;
}

.right-side {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-left: 23px;
}

.header {
  background-color: #ffffff;
  width: 923px;
  height: 66px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-article__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
  width: 100%;
}

.header__titile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 23px 0 19px 33px;
  gap: 12px;
}

.header__title-icon {
  width: 24px;
  height: 24px;
}

.header-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  letter-spacing: 0em;
}

.header__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 10px 13px 0;
  gap: 26px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.header__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #f2f2f2;
}

.createPost__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  background-color: #ffffff;
  width: 714px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.inpit-bellow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  padding: 33px 37px 25px 40px;
  width: 100%;
}

.input-img {
  width: 61px;
  height: 61px;
  border-radius: 50%;
}

.input-container input {
  width: 550px;
  height: 56px;
  border-radius: 28px;
  background-color: #f6f6f6;
  border-style: none;
}

input::placeholder {
  padding: 21px 0 19px 19px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  letter-spacing: 0em;
  color: #888888;
}

.postLine {
  width: 666px;
  border-bottom: 1px solid #ebebeb;
}

.createPost-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 11px 42px 14px 40px;
}

.upload-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.08px;
  letter-spacing: 0em;
  color: #303030;
}

.fa-title span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}

.icons-line {
  width: 25px;
  border-bottom: 1px solid #ebebeb;
  transform: rotate(90deg);
}

.button {
  width: 96px;
  height: 39px;
  background-color: #1f50ff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: 20px;
  border-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  letter-spacing: 0em;
  cursor: pointer;
}

.article__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 24px;
  background-color: #ffffff;
  width: 185px;
  height: 929px;
  border-radius: 10px;
}

.last__article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 21px 22px 16px 22px;
}

.last__article h1 {
  font-size: 12px;
  font-weight: 600;
  line-height: 14.08px;
  letter-spacing: 0em;
  color: #303030;
}

.last__article img {
  width: 141px;
  height: 93px;
  border-radius: 10px;
  margin-top: 15px;
}

.last__article span {
  font-size: 8px;
  font-weight: 500;
  line-height: 9.38px;
  letter-spacing: 0em;
  color: #1f50ff;
  margin-top: 49px;
}

.article-line {
  width: 141px;
  border-bottom: 1px solid #ebebeb;
}

.birthdays {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  padding: 9px 12px 16px 22px;
}

.birthday-icon {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.birthday-icon h1 {
  font-size: 12px;
  font-weight: 600;
  line-height: 14.08px;
  letter-spacing: 0em;
  color: #303030;
}

.birthday-icon img {
  width: 22px;
  height: 22px;
}

.birthdays span {
  font-size: 10px;
  font-weight: 400;
  line-height: 11.73px;
  letter-spacing: 0em;
  width: 100%;
  color: #555555;
}

.post__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.post {
  padding: 31px 25px 0 29px;
  width: 714px;
  background-color: #ffffff;
  margin-top: 40px;
  border-radius: 10px;
  height: 706px;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 19px;
}

.post-info img {
  width: 61px;
  height: 61px;
  border-radius: 50%;
}

.post-person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 9px;
}

.post-person span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  letter-spacing: 0em;
  color: #303030;
}

.post-person p {
  font-size: 10px;
  font-weight: 500;
  line-height: 11.73px;
  letter-spacing: 0em;
  color: #4b71f9;
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 11px;
}

.post-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.desc-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  letter-spacing: 0em;
  color: #555555;
  width: 100%;
}

.post-description img {
  width: 660px;
  height: 321px;
  border-radius: 10px;
}

.post-reaction {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16.5px;
}

.heart {
  width: 20px;
  height: 20px;
}

.see-more {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.08px;
  letter-spacing: 0em;
  color: #1f50ff;
  text-decoration: underline;
}

.fa-circle-plus {
  visibility: hidden;
}

.fa-book-open {
  visibility: hidden;
}

.fa-circle-chevron-down {
  visibility: hidden;
}

.visibleP {
  visibility: hidden;
}

@media only screen and (max-width: 500px) {
  .header {
    width: 298px;
    height: 33px;

    border-bottom-right-radius: 0px;
  }

  .user__bio {
    display: none;
  }

  .icons .fa-brands {
    display: none;
  }

  .icons .fa-grip {
    display: none;
  }

  .icons .fa-gear {
    display: none;
  }

  .fa-circle-plus {
    width: 16px;
    height: 16px;
    visibility: visible;
  }

  .header__img {
    width: 24px;
    height: 24px;
  }

  .header__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .header-name {
    display: none;
  }

  .createPost__container {
    width: 226px;
  }

  .input-img {
    width: 26px;
    height: 26px;
  }
  .inpit-bellow {
    gap: 7px;
    padding: 10px 9px 9px 9px;
  }

  .inpit-bellow input {
    width: 174px;
    height: 23px;
  }

  .inpit-bellow input::placeholder {
    font-size: 7px;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: 0em;
  }

  .postLine {
    width: 207px;
  }

  .it {
    display: none;
  }
  .button {
    width: 51px;
    height: 16.56px;

    gap: 1px;
    border-radius: 8.29px;
    font-size: 6px;
    font-weight: 400;
    line-height: 7px;
    letter-spacing: 0em;
  }
  .createPost-icons {
    padding: 10px 9px 14px 13px;
  }

  .post {
    width: 226px;
    padding: 17px 14px 0 15px;
    margin-top: 11px;
    height: 784px;
  }

  .post-info {
    gap: 11px;
  }
  .post-info img {
    width: 36px;
    height: 36px;
  }

  .post-person {
    gap: 2px;
  }
  .post-person span {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0em;
  }

  .post-person p {
    font-size: 6px;
    line-height: 7px;
    letter-spacing: 0em;
  }

  .desc-p {
    display: none;
  }
  .visibleP {
    visibility: visible;
    font-size: 8px;
    line-height: 9px;
    width: 100%;
  }

  .post-description img {
    width: 199px;
    height: 99px;
  }

  .heart {
    width: 10px;
    height: 10px;
  }

  .see-more {
    font-size: 6px;
    line-height: 7px;
    letter-spacing: 0em;
  }

  .article__container {
    width: 61px;
  }

  .last__article h1 {
    display: none;
  }
  .last__article img {
    display: none;
  }
  .last__article span {
    display: none;
  }

  .article-line {
    width: 48px;
  }
  .birthdays {
    padding: 20px 19px 21px 19px;
  }

  .birthday-icon h1 {
    display: none;
  }

  .birthdays span {
    display: none;
  }

  .fa-book-open {
    visibility: visible;
    width: 16px;
    height: 16px;
  }

  .fa-circle-chevron-down {
    visibility: visible;
    width: 24px;
    height: 24px;
  }

  .last__article {
    gap: 13px;
    margin: 0 auto;
  }

  .birthday-icon img {
    width: 22px;
    height: 22px;
    margin: 0 auto;
  }

  .left-side {
    width: 87px;
    height: 926px;
  }

  .social__title {
    font-size: 12px;
    line-height: 16px;
  }

  .line {
    width: 69px;
  }

  .user-avatar {
    width: 60px;
    height: 60px;
  }

  .user__name {
    font-size: 10px;
    line-height: 12px;
  }

  .user {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 7px;
  }

  .user__info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 7px 17px 8px;
  }

  .user__community {
    flex-direction: column;
    gap: 29px;
  }

  .user__active {
    margin: 0 auto;
  }

  .active {
    visibility: hidden;
  }

  .active-icon {
    visibility: visible;
  }

  .right-side {
    margin-left: 11px;
  }

  .post-article__container {
    margin-top: 19px;
  }

  .article__container {
    margin-left: 11px;
    height: 874px;
  }
}
